/* Buttons
---------------------------------------------- */
a#btn-sign-up {
    display:block;
    float:right;
    margin:0 0 .4em;
    padding:.2em 1em .3em;
    width:5.9333em;

    border:1px solid #192438;
    -webkit-border-radius:.1333em;
    -moz-border-radius:.1333em;
    border-radius:.1333em;

    background-color:#2a4c99;
    background-image:-webkit-gradient(linear, left top, left bottom, from(#508ce9), to(#2a4c99)); /* Saf4+, Chrome */
    background-image:-webkit-linear-gradient(top, #508ce9, #2a4c99); /* Chrome 10+, Saf5.1+ */
    background-image:-moz-linear-gradient(top, #508ce9, #2a4c99); /* FF3.6 */
    background-image:-ms-linear-gradient(top, #508ce9, #2a4c99); /* IE10 */
    background-image:-o-linear-gradient(top, #508ce9, #2a4c99); /* Opera 11.10+ */
    background-image:linear-gradient(top, #508ce9, #2a4c99);

    -webkit-box-shadow:#9abef5 0px 1px 0px inset;
    -moz-box-shadow:#9abef5 0px 1px 0px inset;
    box-shadow:#9abef5 0px 1px 0px inset;

    text-shadow:#2a4c99 0 -1px 0;
    text-decoration:none;
    text-align:center;
    font-size:3em;
    color:#fff;
    }
    a#btn-sign-up:hover {
        -webkit-transition:all 0.3s ease-out;  /* Saf3.2+, Chrome */
        -moz-transition:all 0.3s ease-out;  /* FF4+ */
        -ms-transition:all 0.3s ease-out;  /* IE10? */
        -o-transition:all 0.3s ease-out;  /* Opera 10.5+ */
        transition:all 0.3s ease-out;

        background-color:#2a4c99;
        background-image:-webkit-gradient(linear, left top, left bottom, from(#467fd7), to(#2a4c99)); /* Saf4+, Chrome */
        background-image:-webkit-linear-gradient(top, #467fd7, #2a4c99); /* Chrome 10+, Saf5.1+ */
        background-image:-moz-linear-gradient(top, #467fd7, #2a4c99); /* FF3.6 */
        background-image:-ms-linear-gradient(top, #467fd7, #2a4c99); /* IE10 */
        background-image:-o-linear-gradient(top, #467fd7, #2a4c99); /* Opera 11.10+ */
        background-image:linear-gradient(top, #467fd7, #2a4c99);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorStr='#467fd7', EndColorStr='#2a4c99'); /* IE6–IE9 */

        -webkit-box-shadow:#1e355c 0 1px 3px inset;
        -moz-box-shadow:#1e355c 0 1px 3px inset;
        box-shadow:#1e355c 0 1px 3px inset;
        }
    a#btn-sign-up:active {
        background:#1e355c;

        -webkit-box-shadow:#080f21 0 1px 3px inset;
        -moz-box-shadow:#080f21 0 1px 3px inset;
        box-shadow:#080f21 0 1px 3px inset;
        }
