/* Gallery
---------------------------------------------- */
ul.gallery {
    margin:0 0 1em -10px;
    width:800px;
    }
    ul.gallery li {
        display:inline;
        float:left;
        margin:10px;
        padding:0;
        width:140px;
        height:180px;
        background:none;
        font-size:1.1em;
        line-height:1.8;
        }
        ul.gallery a {
            text-decoration:none;
            color:#3e3e3e;
            }