@import "reset.css";
@import "typography.css";
@import "layout.css";
@import "nav.css";
@import "table.css";
@import "buttons.css";
@import "gallery.css";

ul.speakers {
    margin:0 0 1em;
    list-style:none;
    }
    ul.speakers li {
        position:relative;
        margin:0 0 1em;
        padding:0 0 0 160px;
        min-height:160px;
        font-size:1em;
        }
        * html ul.speakers li {height:160px;} /* IE6 */
        ul.speakers h3 {
            margin-top:0;
            font-family:Georgia, Times, "Times New Roman", serif;
            font-size:2.2em;
            }
        ul.speakers figure {
            position:absolute;
            left:0;
            top:0;
            }
            ul.speakers img {
                -webkit-box-shadow:0 0 5px rgba(0,0,0,.2); /* Saf3.0+, Chrome */
                -moz-box-shadow:0 0 5px rgba(0,0,0,.2); /* FF3.5+ */
                box-shadow:0 0 5px rgba(0,0,0,.2); /* Opera 10.5, IE9, Chrome 10+ */
                }
                /*ul.speakers img:hover {
                    -webkit-box-shadow:0 0 5px rgba(0,0,0,.5); *//* Saf3.0+, Chrome *//*
                    -moz-box-shadow:0 0 5px rgba(0,0,0,.5); *//* FF3.5+ *//*
                    box-shadow:0 0 5px rgba(0,0,0,.5); *//* Opera 10.5, IE9, Chrome 10+ *//*

                    -webkit-transform:scale(1.1,1.1);
                    -moz-transform:scale(1.1,1.1);
                    -ms-transform:scale(1.1,1.1);
                    -o-transform:scale(1.1,1.1);
                    transform:scale(1.1,1.1);
                    -webkit-transition:all 0.1s ease-in-out;  *//* Saf3.2+, Chrome *//*
                    -moz-transition:all 0.1s ease-in-out;  *//* FF4+ *//*
                    -ms-transition:all 0.1s ease-in-out;  *//* IE10? *//*
                    -o-transition:all 0.1s ease-in-out;  *//* Opera 10.5+ *//*
                    transition:all 0.1s ease-in-out;
                    }*/
            ul.speakers p.contacts {
                font-size:1.4em;
                }