/* Table
---------------------------------------------- */

table,
table td {
    border:1px solid #999;
    border:1px solid rgba(0, 0, 0, .1);
    background:rgba(255, 255, 255, .2);
    }

table td,
table th {
    padding:.714em 1.4em;
    vertical-align:top;
    text-align:left;
    font-size:1.4em;
    }

table p {
    font-size:1em;
    }

table a {
    text-decoration:none;
    border-bottom:1px dotted;
    }
    table a:hover {
        border:none;
        }

table.schedule {
    width:62em;
    }
table.schedule .time {
    width:14em;
    background:rgba(255, 197, 120, .2);
    }